.flex { display: -webkit-box; display: -ms-flexbox; display: flex; }

.flex-column { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.flex-wrap { -ms-flex-wrap: wrap; flex-wrap: wrap; }

/* 1. Fix for Chrome 44 bug. https://code.google.com/p/chromium/issues/detail?id=506893 */

.flex-auto {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 0; /* 1 */
  min-height: 0; /* 1 */
}

.flex-none { -webkit-box-flex: 0; -ms-flex: none; flex: none; }

.order-0 { -webkit-box-ordinal-group: 1; -ms-flex-order: 0; order: 0; }

.order-1 { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }

.order-2 { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; }

.order-3 { -webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3; }

.order-last { -webkit-box-ordinal-group: 100000; -ms-flex-order: 99999; order: 99999; }

.items-start    { -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

.items-end      { -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }

.items-center   { -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.items-baseline { -webkit-box-align: baseline; -ms-flex-align: baseline; align-items: baseline; }

.items-stretch  { -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }

.self-start    { -ms-flex-item-align: start; align-self: flex-start; }

.self-end      { -ms-flex-item-align: end; align-self: flex-end; }

.self-center   { -ms-flex-item-align: center; -ms-grid-row-align: center; align-self: center; }

.self-baseline { -ms-flex-item-align: baseline; align-self: baseline; }

.self-stretch  { -ms-flex-item-align: stretch; -ms-grid-row-align: stretch; align-self: stretch; }

.justify-start   { -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }

.justify-end     { -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }

.justify-center  { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.justify-between { -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.justify-around  { -ms-flex-pack: distribute; justify-content: space-around; }

.content-start   { -ms-flex-line-pack: start; align-content: flex-start; }

.content-end     { -ms-flex-line-pack: end; align-content: flex-end; }

.content-center  { -ms-flex-line-pack: center; align-content: center; }

.content-between { -ms-flex-line-pack: justify; align-content: space-between; }

.content-around  { -ms-flex-line-pack: distribute; align-content: space-around; }

.content-stretch { -ms-flex-line-pack: stretch; align-content: stretch; }

@media (min-width: 32rem) {
    .flex-xs-up { display: -webkit-box; display: -ms-flexbox; display: flex; }
    .flex-row-xs-up { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }
    .flex-column-xs-up { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
}

@media (min-width: 40rem) {
    .flex-sm-up { display: -webkit-box; display: -ms-flexbox; display: flex; }
    .flex-row-sm-up { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }
    .flex-column-sm-up { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
}

@media (min-width: 52rem) {
    .flex-md-up { display: -webkit-box; display: -ms-flexbox; display: flex; }
    .flex-row-md-up { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }
    .flex-column-md-up { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
}

@media (min-width: 64rem) {
    .flex-lg-up { display: -webkit-box; display: -ms-flexbox; display: flex; }
    .flex-row-lg-up { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }
    .flex-column-lg-up { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
    .justify-end-lg-up { -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }
    .justify-start-lg-up { -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }
}

.display-none { display: none !important; }

.hide {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

@media (max-width: 32rem) {
    .hide-xs-down { display: none !important; }
}

@media (min-width: 32rem) and (max-width: 40rem) {
    .hide-xs { display: none !important; }
}

@media (min-width: 40rem) and (max-width: 52rem) {
    .hide-sm { display: none !important; }
}

@media (min-width: 52rem) and (max-width: 64rem) {
    .hide-md { display: none !important; }
}

@media (min-width: 64rem) {
    .hide-lg-up { display: none !important; }
}

html {
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    font-family: "futura-pt", sans-serif;
    font-size: 1.25rem;
    line-height: 1.6;
}

.measure {
    max-width: 30em;
}

h1, h2, h3, .h1, .h2, .h3 {
    font-family: "ltc-bodoni-175", serif;
    font-weight: 400;
    margin-top: 3rem;
}

p, dl, ol, ul {
    margin: 1.5rem 0;
}

h1, h2 {
    overflow-wrap: break-word;
}

blockquote {
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-right: 0;
    margin-left: 0;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-left: 2px solid #2d83c2;
}

.page-template blockquote {
    border: none;
    margin: 0;
    padding: 0;
}

h4, h5, h6, .h4, .h5, .h6 {
    font-weight: bold;
    margin-top: 2.5rem;
}

.h0 {
    margin-top: 0;
    font-size: 4rem;
    line-height: 1.25;
}

h1, .h1 {
    font-size: 3rem;
    line-height: 1.25;
}

h2, .h2 {
    font-size: 2.25rem;
    line-height: 1.33333;
}

h3, .h3 {
    font-size: 1.5rem;
    line-height: 1.33333;
}

h4, .h4 {
    font-size: 1.25rem;
    line-height: 1.6;
}

h5, .h5 {
    font-size: 1rem;
    line-height: 1;
}

h6, .h6 {
    font-size: .875rem;
    line-height: 1.14286;
}

#logo {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.regular { font-weight: 400; }

.italic { font-style: italic; }

.tl { text-align: left; }

#quote-author {
    font-family: "ltc-bodoni-175", serif;
    font-style: normal;
    font-size: 1.25rem;
}

@media (max-width: 32rem) {
    .tc-xs-down {
        text-align: center;
    }
}

figure {
    margin: 0;
}

figcaption {
    margin-top: 0.5rem;
    font-size: 1rem;
}

@media (min-width: 52rem) {
    blockquote {
        margin-left: -2rem;
    }
}

b, strong {
    font-weight: 500;
}

img {
    max-width: 100%;
    height: auto;
}

svg {
    max-height: 100%;
}

.aspect-ratio-16x9, .aspect-ratio-3x2, .aspect-ratio-4x3, .aspect-ratio-1x1, .aspect-ratio-3x4, .aspect-ratio-2x3, .aspect-ratio-2x1 {
    height: 0;
    position: relative;
    overflow: hidden;
}

.aspect-ratio-16x9 { padding-bottom: 56.25%; }

.aspect-ratio-3x2 { padding-bottom: 66.667%; }

.aspect-ratio-4x3 { padding-bottom: 75%; }

.aspect-ratio-1x1 { padding-bottom: 100%; }

.aspect-ratio-3x4 { padding-bottom: 133.333%; }

.aspect-ratio-2x3 { padding-bottom: 150%; }

.aspect-ratio-2x1 { padding-bottom: 50%; }

.aspect-ratio-4x5 { padding-bottom: 125%; }

.aspect-ratio-16x9 img, .aspect-ratio-3x2 img, .aspect-ratio-4x3 img, .aspect-ratio-1x1 img, .aspect-ratio-3x4 img, .aspect-ratio-2x3 img, .aspect-ratio-2x1 img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
    width: 100%;
}

.aspect-ratio-2x1.sponsor img {
    -o-object-fit: contain;
       object-fit: contain;
}

.btn {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    padding: 1.25rem 2.5rem;
    margin: 0;
    height: auto;
    border: 1px;
    vertical-align: middle;
    -webkit-appearance: none;
    color: inherit;
    background-color: transparent;
    border: 1px solid black;
}

.btn.btn-white {
    border: 1px solid white;
}

.btn.btn-gray {
    border: 1px solid #F2F1F1;
}

.btn.btn-blue {
    border: 1px solid #2d83c2;
}

.btn:hover, input[type="submit"]:hover {
  text-decoration: none;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.btn.btn-primary {
    background-color: white;
    border: none;
    color: #000;
}

.btn.btn-primary:focus {
    border-color: #F2F1F1;
}

.btn.btn-primary:hover, .btn.btn-primary:focus {
    background-color: #F2F1F1;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    width: 100%;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.tc { text-align: center; }

.tl { text-align: left; }

.h-100 { height: 100%; }

.spread { width: 100%; }

.spread-inner {
    max-width: 600px;
    width: 100%;
}

.mt0 { margin-top: 0; }

.mb0 { margin-bottom: 0; }

@media (max-width: 32rem) {
    .container-inner {
        padding: 0 24px;
    }

    .col-full, .col-one-half, .col-one-third, .col-one-fourth {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        max-width: 100%;
    }

    .col-full, .col-one-half, .col-one-third, .col-one-fourth {
        margin: 0 8px;
    }

    .spread {
        padding: 0 32px;
    }

    .social-logo {
        margin: 0 8px;
    }

}

@media (min-width: 32rem) and (max-width: 40rem) {
    .container-inner {
        padding: 0 36px;
    }

    .col-full, .col-one-half, .col-one-third, .col-one-fourth {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        max-width: 100%;
    }

    .col-one-fourth {
        -ms-flex-preferred-size: calc(50% - 24px);
            flex-basis: calc(50% - 24px);
        max-width: calc(50% - 24px);
    }

    .col-full, .col-one-half, .col-one-third, .col-one-fourth {
        margin: 0 12px;
    }

    .spread {
        padding: 0 48px;
    }

    .social-logo {
        margin: 0 6px;
    }
}

@media (min-width: 40rem) and (max-width: 52rem) {
    .container-inner {
        padding: 0 32px;
    }

    .col-full {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        max-width: 100%;
    }

    .col-one-half, .col-one-third {
        -ms-flex-preferred-size: calc(50% - 32px);
            flex-basis: calc(50% - 32px);
        max-width: calc(50% - 32px);
    }

    .col-one-fourth {
        -ms-flex-preferred-size: calc(100% / 3 - 32px);
            flex-basis: calc(100% / 3 - 32px);
        max-width: calc(100% / 3 - 32px);
    }

    .col-full, .col-one-half, .col-one-third, .col-one-fourth {
        margin: 0 16px;
    }

    .spread {
        padding: 0 48px;
    }

    .social-logo {
        margin: 0 8px;
    }
}

@media (min-width: 52rem) and (max-width: 64rem) {
    .container-inner {
        padding: 0 32px;
    }

    .col-full {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        max-width: 100%;
    }

    .col-one-half {
        -ms-flex-preferred-size: calc(50% - 32px);
            flex-basis: calc(50% - 32px);
        max-width: calc(50% - 32px);
    }

    .col-one-third, .col-one-fourth {
        -ms-flex-preferred-size: calc(100% / 3 - 32px);
            flex-basis: calc(100% / 3 - 32px);
        max-width: calc(100% / 3 - 32px);
    }

    .col-full, .col-one-half, .col-one-third, .col-one-fourth {
        margin: 0 16px;
    }

    .spread {
        padding: 0 48px;
    }

    .social-logo {
        margin: 0 8px;
    }
}

@media (min-width: 64rem) {
    .container-inner {
        padding: 0 24px;
    }

    .col-full {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        max-width: 100%;
    }

    .col-one-half {
        -ms-flex-preferred-size: calc(50% - 48px);
            flex-basis: calc(50% - 48px);
        max-width: calc(50% - 48px);
    }

    .col-one-third {
        -ms-flex-preferred-size: calc(100% / 3 - 48px);
            flex-basis: calc(100% / 3 - 48px);
        max-width: calc(100% / 3 - 48px);
    }

    .col-two-thirds {
        -ms-flex-preferred-size: calc(100% * 0.66667 - 32px);
            flex-basis: calc(100% * 0.66667 - 32px);
    }

    .col-one-fourth {
        -ms-flex-preferred-size: calc(100% / 4 - 48px);
            flex-basis: calc(100% / 4 - 48px);
        max-width: calc(100% / 4 - 48px);
    }

    .spread { width: 50%; }

    .col-full, .col-one-half, .col-one-third, .col-one-fourth {
        margin: 0 24px;
    }

    .spread-left .spread-inner {
        padding-left: 96px;
        padding-right: 96px;
    }

    .spread-right .spread-inner {
        padding-left: 96px;
        padding-right: 96px;
    }

    .social-logo {
        margin: 0 12px;
    }
}

label {
    font-weight: 500;
    display: block;
    margin-top: 3rem;
    text-align: left;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input, input[type="file"] {
    font-family: inherit;
    font-size: inherit;
    display: block;
    padding: 1rem;
    margin-top: 1.5rem;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

select {
    font-family: inherit;
    font-size: inherit;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

textarea {
    font-family: inherit;
    font-size: inherit;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: vertical;
}

input, select, textarea {
    border-radius: 0;
    padding: 1rem;
    margin-top: 1.5rem;
    max-width: 480px;
    width: 100%;
}

input[type="submit"] {
    width: auto;
}

.g-recaptcha > div {
    margin-left: auto;
    margin-right: auto;
    width: 304px;
}

.file-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.file-wrap input {
    margin-top: 0;
}

@media (max-width: 40rem) {
    .home input.btn {
        margin-top: 2.5rem;
    }
}

@media (min-width: 40rem) {
    #signup-area {
        max-width: 720px;
        margin-left: auto;
        margin-right: auto;
    }

    #newsletter input[type="text"] {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        margin-top: 0;
    }

    #newsletter input[name="MERGE1"] {
        border-right: 0;
    }
}

.relative { position: relative; }

.m0 { margin: 0; }

.m1 { margin: 0.5rem; }

.m2 { margin: 1rem;}

.m3 { margin: 1.5rem; }

.m4 { margin: 2rem; }

.m5 { margin: 2.5rem; }

.m6 { margin: 3rem; }

.m7 { margin: 3.5rem; }

.m8 { margin: 4rem; }

.m9 { margin: 4.5rem; }

.m10 { margin: 5rem; }

.m11 { margin: 5.5rem; }

.m12 { margin: 6rem; }

.m13 { margin: 6.5rem; }

.m14 { margin: 7rem; }

.m15 { margin: 7.5rem; }

.mx0 {
    margin-left: 0;
    margin-right: 0;
}

.mx1 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.mx2 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.mx3 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.mx4 {
    margin-left: 2rem;
    margin-right: 2rem;
}

.mx5 {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.mx6 {
    margin-left: 3rem;
    margin-right: 3rem;
}

.mx7 {
    margin-left: 3.5rem;
    margin-right: 3.5rem;
}

.mx8 {
    margin-left: 4rem;
    margin-right: 4rem;
}

.mx9 {
    margin-left: 4.5rem;
    margin-right: 4.5rem;
}

.mx10 {
    margin-left: 5rem;
    margin-right: 5rem;
}

.mx11 {
    margin-left: 5.5rem;
    margin-right: 5.5rem;
}

.mx12 {
    margin-left: 6rem;
    margin-right: 6rem;
}

.mx13 {
    margin-left: 6.5rem;
    margin-right: 6.5rem;
}

.mx14 {
    margin-left: 7rem;
    margin-right: 7rem;
}

.mx15 {
    margin-left: 7.5rem;
    margin-right: 7.5rem;
}

.my0 {
    margin-top: 0;
    margin-bottom: 0;
}

.my1 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.my2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my3 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.my4 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.my5 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.my6 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.my7 {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
}

.my8 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.my9 {
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
}

.my10 {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.my11 {
    margin-top: 5.5rem;
    margin-bottom: 5.5rem;
}

.my12 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.my13 {
    margin-top: 6.5rem;
    margin-bottom: 6.5rem;
}

.my14 {
    margin-top: 7rem;
    margin-bottom: 7rem;
}

.my15 {
    margin-top: 7.5rem;
    margin-bottom: 7.5rem;
}

.mt0 { margin-top: 0; }

.mt1 { margin-top: 0.5rem; }

.mt2 { margin-top: 1rem; }

.mt3 { margin-top: 1.5rem; }

.mt4 { margin-top: 2rem; }

.mt5 { margin-top: 2.5rem; }

.mt6 { margin-top: 3rem; }

.mt7 { margin-top: 3.5rem; }

.mt8 { margin-top: 4rem; }

.mt9 { margin-top: 4.5rem; }

.mt10 { margin-top: 5rem; }

.mt11 { margin-top: 5.5rem; }

.mt12 { margin-top: 6rem; }

.mt13 { margin-top: 6.5rem; }

.mt14 { margin-top: 7rem; }

.mt15 { margin-top: 7.5rem; }

.mb0 { margin-bottom: 0; }

.mb1 { margin-bottom: 0.5rem; }

.mb2 { margin-bottom: 1rem; }

.mb3 { margin-bottom: 1.5rem; }

.mb4 { margin-bottom: 2rem; }

.mb5 { margin-bottom: 2.5rem; }

.mb6 { margin-bottom: 3rem; }

.mb7 { margin-bottom: 3.5rem; }

.mb8 { margin-bottom: 4rem; }

.mb9 { margin-bottom: 4.5rem; }

.mb10 { margin-bottom: 5rem; }

.mb11 { margin-bottom: 5.5rem; }

.mb12 { margin-bottom: 6rem; }

.mb13 { margin-bottom: 6.5rem; }

.mb14 { margin-bottom: 7rem; }

.mb15 { margin-bottom: 7.5rem; }

@media (max-width: 32rem) {
    .mtg { margin-top: 64px; }
    .mtgx2 { margin-top: 128px; }

    .mx0-xs-down {
        margin-left: 0;
        margin-right: 0;
    }

    .mxg {
        margin-left: 8px;
        margin-left: 8px;
    }
}

@media (min-width: 32rem) and (max-width: 40rem) {
    .mtg { margin-top: 24px; }
    .mtgx2 { margin-top: 48px; }

    .mxg {
        margin-left: 12px;
        margin-right: 12px;
    }
}

@media (min-width: 40rem) and (max-width: 52rem) {
    .mtg { margin-top: 32px; }
    .mtgx2 { margin-top: 64px; }

    .mxg {
        margin-left: 16px;
        margin-right: 16px;
    }
}

@media (min-width: 52rem) and (max-width: 64rem) {
    .mtg { margin-top: 32px; }
    .mtgx2 { margin-top: 64px; }

    .mxg {
        margin-left: 16px;
        margin-right: 16px;
    }
}

@media (min-width: 64rem) {
    .mtg { margin-top: 48px; }
    .mtgx2 { margin-top: 96px; }

    .mxg {
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media (min-width: 32rem) {
    .mt0-xs-up { margin-top: 0; }
    .mt1-xs-up { margin-top: 0.5rem; }
    .mt2-xs-up { margin-top: 1rem; }
    .mt3-xs-up { margin-top: 1.5rem; }
    .mt4-xs-up { margin-top: 2rem; }
    .mt5-xs-up { margin-top: 2.5rem; }
    .mt6-xs-up { margin-top: 3rem; }
    .mt7-xs-up { margin-top: 3.5rem; }
    .mt8-xs-up { margin-top: 4rem; }
    .mt9-xs-up { margin-top: 4.5rem; }
    .mt10-xs-up { margin-top: 5rem; }
    .mt11-xs-up { margin-top: 5.5rem; }
    .mt12-xs-up { margin-top: 6rem; }
    .mt13-xs-up { margin-top: 6.5rem; }
    .mt14-xs-up { margin-top: 7rem; }
    .mt15-xs-up { margin-top: 7.5rem; }
}

@media (min-width: 40rem) {
    .mt0-sm-up { margin-top: 0; }
    .mt1-sm-up { margin-top: 0.5rem; }
    .mt2-sm-up { margin-top: 1rem; }
    .mt3-sm-up { margin-top: 1.5rem; }
    .mt4-sm-up { margin-top: 2rem; }
    .mt5-sm-up { margin-top: 2.5rem; }
    .mt6-sm-up { margin-top: 3rem; }
    .mt7-sm-up { margin-top: 3.5rem; }
    .mt8-sm-up { margin-top: 4rem; }
    .mt9-sm-up { margin-top: 4.5rem; }
    .mt10-sm-up { margin-top: 5rem; }
    .mt11-sm-up { margin-top: 5.5rem; }
    .mt12-sm-up { margin-top: 6rem; }
    .mt13-sm-up { margin-top: 6.5rem; }
    .mt14-sm-up { margin-top: 7rem; }
    .mt15-sm-up { margin-top: 7.5rem; }
}

@media (min-width: 52rem) {
    .mt0-md-up { margin-top: 0; }
    .mt1-md-up { margin-top: 0.5rem; }
    .mt2-md-up { margin-top: 1rem; }
    .mt3-md-up { margin-top: 1.5rem; }
    .mt4-md-up { margin-top: 2rem; }
    .mt5-md-up { margin-top: 2.5rem; }
    .mt6-md-up { margin-top: 3rem; }
    .mt7-md-up { margin-top: 3.5rem; }
    .mt8-md-up { margin-top: 4rem; }
    .mt9-md-up { margin-top: 4.5rem; }
    .mt10-md-up { margin-top: 5rem; }
    .mt11-md-up { margin-top: 5.5rem; }
    .mt12-md-up { margin-top: 6rem; }
    .mt13-md-up { margin-top: 6.5rem; }
    .mt14-md-up { margin-top: 7rem; }
    .mt15-md-up { margin-top: 7.5rem; }
}

@media (min-width: 64rem) {
    .mt0-lg-up { margin-top: 0; }
    .mt1-lg-up { margin-top: 0.5rem; }
    .mt2-lg-up { margin-top: 1rem; }
    .mt3-lg-up { margin-top: 1.5rem; }
    .mt4-lg-up { margin-top: 2rem; }
    .mt5-lg-up { margin-top: 2.5rem; }
    .mt6-lg-up { margin-top: 3rem; }
    .mt7-lg-up { margin-top: 3.5rem; }
    .mt8-lg-up { margin-top: 4rem; }
    .mt9-lg-up { margin-top: 4.5rem; }
    .mt10-lg-up { margin-top: 5rem; }
    .mt11-lg-up { margin-top: 5.5rem; }
    .mt12-lg-up { margin-top: 6rem; }
    .mt13-lg-up { margin-top: 6.5rem; }
    .mt14-lg-up { margin-top: 7rem; }
    .mt15-lg-up { margin-top: 7.5rem; }
}

.p0 { padding: 0; }

.p1 { padding: 0.5rem; }

.p2 { padding: 1rem;}

.p3 { padding: 1.5rem; }

.p4 { padding: 2rem; }

.p5 { padding: 2.5rem; }

.p6 { padding: 3rem; }

.p7 { padding: 3.5rem; }

.p8 { padding: 4rem; }

.p9 { padding: 4.5rem; }

.p10 { padding: 5rem; }

.p11 { padding: 5.5rem; }

.p12 { padding: 6rem; }

.p13 { padding: 6.5rem; }

.p14 { padding: 7rem; }

.p15 { padding: 7.5rem; }

.px0 {
    padding-left: 0;
    padding-right: 0;
}

.px1 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.px2 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.px3 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.px4 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.px5 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.px6 {
    padding-left: 3rem;
    padding-right: 3rem;
}

.px7 {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

.px8 {
    padding-left: 4rem;
    padding-right: 4rem;
}

.px9 {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
}

.px10 {
    padding-left: 5rem;
    padding-right: 5rem;
}

.px11 {
    padding-left: 5.5rem;
    padding-right: 5.5rem;
}

.px12 {
    padding-left: 6rem;
    padding-right: 6rem;
}

.px13 {
    padding-left: 6.5rem;
    padding-right: 6.5rem;
}

.px14 {
    padding-left: 7rem;
    padding-right: 7rem;
}

.px15 {
    padding-left: 7.5rem;
    padding-right: 7.5rem;
}

.py0 {
    padding-top: 0;
    padding-bottom: 0;
}

.py1 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.py2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py3 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.py4 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.py5 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.py6 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.py7 {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

.py8 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.py9 {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
}

.py10 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.py11 {
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
}

.py12 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.py13 {
    padding-top: 6.5rem;
    padding-bottom: 6.5rem;
}

.py14 {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.py15 {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}

.pt0 { padding-top: 0; }

.pt1 { padding-top: 0.5rem; }

.pt2 { padding-top: 1rem; }

.pt3 { padding-top: 1.5rem; }

.pt4 { padding-top: 2rem; }

.pt5 { padding-top: 2.5rem; }

.pt6 { padding-top: 3rem; }

.pt7 { padding-top: 3.5rem; }

.pt8 { padding-top: 4rem; }

.pt9 { padding-top: 4.5rem; }

.pt10 { padding-top: 5rem; }

.pt11 { padding-top: 5.5rem; }

.pt12 { padding-top: 6rem; }

.pt13 { padding-top: 6.5rem; }

.pt14 { padding-top: 7rem; }

.pt15 { padding-top: 7.5rem; }

.pb0 { padding-bottom: 0; }

.pb1 { padding-bottom: 0.5rem; }

.pb2 { padding-bottom: 1rem; }

.pb3 { padding-bottom: 1.5rem; }

.pb4 { padding-bottom: 2rem; }

.pb5 { padding-bottom: 2.5rem; }

.pb6 { padding-bottom: 3rem; }

.pb7 { padding-bottom: 3.5rem; }

.pb8 { padding-bottom: 4rem; }

.pb9 { padding-bottom: 4.5rem; }

.pb10 { padding-bottom: 5rem; }

.pb11 { padding-bottom: 5.5rem; }

.pb12 { padding-bottom: 6rem; }

.pb13 { padding-bottom: 6.5rem; }

.pb14 { padding-bottom: 7rem; }

.pb15 { padding-bottom: 7.5rem; }

@media (min-width: 32rem) {
    .pb0-xs-up { padding-bottom: 0; }
    .pb1-xs-up { padding-bottom: 0.5rem; }
    .pb2-xs-up { padding-bottom: 1rem; }
    .pb3-xs-up { padding-bottom: 1.5rem; }
    .pb4-xs-up { padding-bottom: 2rem; }
    .pb5-xs-up { padding-bottom: 2.5rem; }
    .pb6-xs-up { padding-bottom: 3rem; }
    .pb7-xs-up { padding-bottom: 3.5rem; }
    .pb8-xs-up { padding-bottom: 4rem; }
    .pb9-xs-up { padding-bottom: 4.5rem; }
    .pb10-xs-up { padding-bottom: 5rem; }
    .pb11-xs-up { padding-bottom: 5.5rem; }
    .pb12-xs-up { padding-bottom: 6rem; }
    .pb13-xs-up { padding-bottom: 6.5rem; }
    .pb14-xs-up { padding-bottom: 7rem; }
    .pb15-xs-up { padding-bottom: 7.5rem; }
}

@media (min-width: 40rem) {
    .pb0-sm-up { padding-bottom: 0; }
    .pb1-sm-up { padding-bottom: 0.5rem; }
    .pb2-sm-up { padding-bottom: 1rem; }
    .pb3-sm-up { padding-bottom: 1.5rem; }
    .pb4-sm-up { padding-bottom: 2rem; }
    .pb5-sm-up { padding-bottom: 2.5rem; }
    .pb6-sm-up { padding-bottom: 3rem; }
    .pb7-sm-up { padding-bottom: 3.5rem; }
    .pb8-sm-up { padding-bottom: 4rem; }
    .pb9-sm-up { padding-bottom: 4.5rem; }
    .pb10-sm-up { padding-bottom: 5rem; }
    .pb11-sm-up { padding-bottom: 5.5rem; }
    .pb12-sm-up { padding-bottom: 6rem; }
    .pb13-sm-up { padding-bottom: 6.5rem; }
    .pb14-sm-up { padding-bottom: 7rem; }
    .pb15-sm-up { padding-bottom: 7.5rem; }
}

@media (min-width: 52rem) {
    .pb0-md-up { padding-bottom: 0; }
    .pb1-md-up { padding-bottom: 0.5rem; }
    .pb2-md-up { padding-bottom: 1rem; }
    .pb3-md-up { padding-bottom: 1.5rem; }
    .pb4-md-up { padding-bottom: 2rem; }
    .pb5-md-up { padding-bottom: 2.5rem; }
    .pb6-md-up { padding-bottom: 3rem; }
    .pb7-md-up { padding-bottom: 3.5rem; }
    .pb8-md-up { padding-bottom: 4rem; }
    .pb9-md-up { padding-bottom: 4.5rem; }
    .pb10-md-up { padding-bottom: 5rem; }
    .pb11-md-up { padding-bottom: 5.5rem; }
    .pb12-md-up { padding-bottom: 6rem; }
    .pb13-md-up { padding-bottom: 6.5rem; }
    .pb14-md-up { padding-bottom: 7rem; }
    .pb15-md-up { padding-bottom: 7.5rem; }
}

@media (min-width: 64rem) {
    .pb0-lg-up { padding-bottom: 0; }
    .pb1-lg-up { padding-bottom: 0.5rem; }
    .pb2-lg-up { padding-bottom: 1rem; }
    .pb3-lg-up { padding-bottom: 1.5rem; }
    .pb4-lg-up { padding-bottom: 2rem; }
    .pb5-lg-up { padding-bottom: 2.5rem; }
    .pb6-lg-up { padding-bottom: 3rem; }
    .pb7-lg-up { padding-bottom: 3.5rem; }
    .pb8-lg-up { padding-bottom: 4rem; }
    .pb9-lg-up { padding-bottom: 4.5rem; }
    .pb10-lg-up { padding-bottom: 5rem; }
    .pb11-lg-up { padding-bottom: 5.5rem; }
    .pb12-lg-up { padding-bottom: 6rem; }
    .pb13-lg-up { padding-bottom: 6.5rem; }
    .pb14-lg-up { padding-bottom: 7rem; }
    .pb15-lg-up { padding-bottom: 7.5rem; }
}

.pxf {
    padding-left: 12px;
    margin-right: 12px;
}

a { color: #000; }

header, header a, .page-template header, .page-template header a {
    color: white;
}

/* Might want to imrpove this selector in the future. */

.scroll-lock header a {
    color: white;
}

h1, h2, h3, h4, h5, h6, p {
    color: #000;
}

@media (min-width: 64rem) {
    .page-template header, .page-template header a {
        color: #000;
    }
}

#hero .spread-left {
    background-color: #000;
}

#hero .spread-left h1 {
    color: white;
}

#footer {
    background-color: #000;
}

.bg-blue {
    background-color: #2d83c2;
}

.bg-light-blue {
    background-color: #2F8BCC;
}

.bg-gray {
    background-color: #F2F1F1;
}

.blue {
    color: #2d83c2;
}

.gray {
    color: #F2F1F1;
}

.darker-gray {
    color: #E6E6E6;
}

.black {
    color: #000;
}

.white {
    color: #fff;
}

hr {
    border: 0;
    margin: 0;
    height: 1px;
    background-color: #F2F1F1;
}

#blog-post a {
    text-decoration: underline;
}

div.wpcf7-response-output {
    margin: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    padding-top: 3rem;
    text-align: center;
}

div.wpcf7-validation-errors {
    border: 0;
}

span.wpcf7-not-valid-tip, div.wpcf7-validation-errors, div.wpcf7-spam-blocked {
    color: #C22D2D;
}

span.wpcf7-not-valid-tip {
    font-size: inherit;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

div.wpcf7-mail-sent-ok {
    border: 0;
}

span.wpcf7-not-valid-tip, #addFileInputWrapper { text-align: left; }

div.wpcf7-spam-blocked {
    border: none;
}

span.wpcf7-not-valid-tip {
    text-align: center;
}

div.wpcf7 .ajax-loader { display: none; }

header {
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

header {
    position: absolute;
}

#logo, .menu-item {
    vertical-align: middle;
}

.blog header, .single header {
    position: static;
}

nav ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

#menu-primary-menu { display: -webkit-box; display: -ms-flexbox; display: flex; }

#nav-wrapper { width: 100%; }

#nav-toggle {
    position: absolute;
}

#nav-toggle:hover {
    cursor: pointer;
}

@media (max-width: 52rem) {
    #menu-primary-menu {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .scroll-lock {
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    .scroll-lock nav {
        min-height: 480px;
    }

    .scroll-lock header {
        background-color: #000;
        bottom: 0;
        color: white;
        z-index: 2;
        position: fixed;
        overflow: hidden;
    }

    .scroll-lock .menu-item {
        font-size: 2.25rem;
        line-height: 1.77778;
    }

    .scroll-lock header .container, .scroll-lock header .container-inner, .scroll-lock header .col-full, .scroll-lock header #nav-wrapper, .scroll-lock header #menu-primary-menu, .scroll-lock header nav {
        height: 100%;
    }
}

@media (min-width: 52rem) {
    #nav-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
}

.blog header, .single header {
    background-color: #000;
}

.blog header a, .single header a {
    color: white;
}

@media (max-width: 32rem) {
    header { padding-top: 16px; }

    .blog header, .single header {
        padding-bottom: 16px;
    }

    #nav-toggle {
        top: 16px;
        right: 32px;
    }

    .menu-item:not(:last-child) {
        margin: 0 8px;
    }

    .menu-item:last-child {
        margin-left: 8px;
    }
}

@media (min-width: 32rem) and (max-width: 40rem) {
    header { padding-top: 24px; }

    .blog header, .single header {
        padding-bottom: 24px;
    }

    #nav-toggle {
        top: 24px;
        right: 48px;
    }

    .menu-item:not(:last-child) {
        margin: 0 12px;
    }

    .menu-item:last-child {
        margin-left: 12px;
    }
}

@media (min-width: 40rem) and (max-width: 52rem) {
    header { padding-top: 24px; }

    .blog header, .single header {
        padding-bottom: 24px;
    }

    #nav-toggle {
        top: 24px;
        right: 48px;
    }

    .menu-item:not(:last-child) {
        margin: 0 16px;
    }

    .menu-item:last-child {
        margin-left: 16px;
    }
}

@media (min-width: 52rem) and (max-width: 64rem) {
    header { padding-top: 24px; }

    .blog header, .single header {
        padding-bottom: 24px;
    }

    .menu-item:not(:last-child) {
        margin: 0 16px;
    }

    .menu-item:last-child {
        margin-left: 16px;
    }
}

@media (min-width: 64rem) {
    header { padding-top: 24px; }

    .blog header, .single header {
        padding-bottom: 24px;
    }

    .menu-item:not(:last-child) {
        margin: 0 24px;
    }

    .menu-item:last-child {
        margin-left: 24px;
    }

    .page-template header {
        position: static;
    }
}

/* Remove right margin last item! */

section#hero {
    padding-top: 0;
    padding-bottom: 0;
}

#hero { position: relative; }

#hero-image {
    background-size: cover !important;
    height: 100%;
    position: absolute;
    width: 100%;
}

#hero ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

#hero-slides {
    width: 100%;
}

#hero-slides li {
    background-size: cover !important;
    height: 100%;
    position: absolute;
    width: 100%;
}

#hero-slides li:not(:first-child) {
    opacity: 0;
    visibility: hidden;
}

#hero-pagination {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 1;
}

#hero-pagination li { display: inline-block; }

.pagination-item {
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    height: 8px;
    margin-left: 4px;
    margin-right: 4px;
    opacity: 0.5;
    width: 8px;
}

.pagination-item:first-child {
    opacity: 1;
}

.scrim {
    width: 100%;
}

.scrim h1, .scrim p {
    color: white;
}

@media (max-width: 32rem) {
    #hero-slides {
        height: 640px;
    }

    #hero-alt { height: 560px; }
    #hero-pagination { bottom: 16px; }
}

@media (min-width: 32rem) and (max-width: 40rem) {
    #hero-slides { height: 560px; }
    #hero-alt { height: 560px; }
    #hero-pagination { bottom: 24px; }
}

@media (min-width: 40rem) and (max-width: 52rem) {
    #hero-slides { height: 560px; }
    #hero-alt { height: 560px; }
    #hero-pagination { bottom: 24px; }
}

@media (min-width: 52rem) and (max-width: 64rem) {
    #hero-slides { height: 640px; }
    #hero-alt { height: 560px; }
    #hero-pagination { bottom: 24px; }
}

@media (min-width: 64rem) {
    #hero-slides { height: 640px; }
    #hero-alt { height: 560px; }
    #hero-pagination { bottom: 24px; }

    .page-template #hero-slides {
        display: none;
    }

    #hero-alt {
        margin-top: 36px;
    }
}

.dim {
    opacity: 1;
    -webkit-transition: opacity .15s ease-in;
    transition: opacity .15s ease-in;
}

.dim:hover, .dim:focus {
    opacity: .5;
    -webkit-transition: opacity .15s ease-in;
    transition: opacity .15s ease-in;
}

.dim:active {
    opacity: .8;
    -webkit-transition: opacity .15s ease-out;
    transition: opacity .15s ease-out;
}

.black {
    color: #000;
}

.hover-white:hover {
    color: #fff;
}

.hover-white:focus {
    color: #fff;
}

.hover-gray:hover {
    color: #F2F1F1;
}

.hover-gray:focus {
    color: #F2F1F1;
}

.hover-black:hover {
    color: #000;
}

.hover-black:focus {
    color: #000;
}

.hover-blue:hover {
    color: #2d83c2;
}

.hover-blue:focus {
    color: #2d83c2;
}

.hover-bg-black:hover {
    background-color: #000;
}

.hover-bg-black:focus {
    background-color: #000;
}

.hover-bg-white:hover {
    background-color: #fff;
}

.hover-bg-blue:focus {
    background-color: #2d83c2;
}

.hover-bg-blue:hover {
    background-color: #2d83c2;
}

.hover-bg-white:focus {
    background-color: #fff;
}

.hover-bg-gray:hover {
    background-color: #F2F1F1;
}

.hover-bg-gray:focus {
    background-color: #F2F1F1;
}

.bg-animate, .bg-animate:hover, .bg-animate:focus {
    -webkit-transition: background-color .15s ease-in-out;
    transition: background-color .15s ease-in-out;
}

.article img {
    -webkit-transition: -webkit-transform .45s ease;
    transition: -webkit-transform .45s ease;
    transition: transform .45s ease;
    transition: transform .45s ease, -webkit-transform .45s ease;
}

.article:hover img, .article:focus img, .article:active img {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
}

.no-spotlight:hover {
    cursor: pointer;
}

.no-spotlight {
    opacity: 1;
    -webkit-transition: opacity .15s ease-in;
    transition: opacity .15s ease-in;
}

.link {
    text-decoration: none;
    -webkit-transition: color .15s ease-in;
    transition: color .15s ease-in;
}

.link:link, .link:visited {
    -webkit-transition: color .15s ease-in;
    transition: color .15s ease-in;
}

.link:hover {
    -webkit-transition: color .15s ease-in;
    transition: color .15s ease-in;
}

.link:active {
    -webkit-transition: color .15s ease-in;
    transition: color .15s ease-in;
}

.link:focus {
    -webkit-transition: color .15s ease-in;
    transition: color .15s ease-in;
    outline: 1px dotted currentColor;
}

#instagram-feed:hover .no-spotlight:not(:hover) {
    opacity: 0.5;
    -webkit-transition: opacity .15s ease-in;
    transition: opacity .15s ease-in;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

article:hover h3 {
    color: rgba( 0, 0, 0, .8 );
}

article:hover .article-author {
    color: rgba( 0, 0, 0, .8 );
}

.card {
    background-color: white;
}

.social-logo {
    height: 24px;
    width: 24px;
}

.w-100 {
    width: 100%;
}

.cover {
    background-size: cover !important;
}

.page-template form {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}

ins {
    text-decoration: none;
}

.footer-logo:hover {
    cursor: pointer;
}

#addFileInput:hover {
    cursor: pointer;
}

.file-wrap {
    margin-top: 1.5rem;
}

#footer {
    -webkit-transition: background-color .15s ease-in-out;
    transition: background-color .15s ease-in-out;
}

#packet-wrapper {
    position: relative;
    -webkit-transition: background-color .15s ease-in-out;
    transition: background-color .15s ease-in-out;
}

#packet-wrapper img { vertical-align: bottom; }

#packet-wrapper:hover #packet-overlay {
    display: block;
    cursor: pointer;
}

#packet-overlay {
    background-color: rgba(0,0,0,0.25);
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.single-post blockquote {
    font-family: "ltc-bodoni-175", serif;
    font-size: 1.5rem;
}

footer p {
    color: white;
}

footer .fa {
    color: white;
}

.scrim {
    background-color: rgba(0, 0, 0, .4);
}

.bg-#FF4848 {
    background-color: #FF4848;
}

.bg-#FF4848-2 {
    background-color: #80FFFF;
}

footer img:hover {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
    -webkit-transition: -webkit-transform 0.25s ease-in;
    transition: -webkit-transform 0.25s ease-in;
    transition: transform 0.25s ease-in;
    transition: transform 0.25s ease-in, -webkit-transform 0.25s ease-in;
}

.circle {
    border-radius: 50%;
    box-shadow: 0 0 0 1px #000;
    cursor: pointer;
    height: 32px;
    width: 32px;
}

.circle .fa {
    color: #000;
}

#voyageuw-spinner {
    display: none;
}

#shareBtn:hover {
    cursor: pointer;
}

.max-width-single {
    max-width: 960px;
}

.home hr:last-child {
    display: none;
}

footer .fa {
    font-size: 24px;
}

.tl {
    text-align: left;
}
