.btn {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    line-height: var(--lh-solid);
    padding: var(--button-py) var(--button-px);
    margin: 0;
    height: auto;
    border: 1px;
    vertical-align: middle;
    -webkit-appearance: none;
    color: inherit;
    background-color: transparent;
    border: 1px solid black;
}

.btn.btn-white {
    border: 1px solid white;
}

.btn.btn-gray {
    border: 1px solid var(--gray-bg);
}

.btn.btn-blue {
    border: 1px solid var(--blue);
}

.btn:hover, input[type="submit"]:hover {
  text-decoration: none;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.btn.btn-primary {
    background-color: white;
    border: none;
    color: var(--black);
}

.btn.btn-primary:focus {
    border-color: var(--gray-bg);
}

.btn.btn-primary:hover, .btn.btn-primary:focus {
    background-color: var(--gray-bg);
}
