:root {
    --max-width: 1200px;
    --margin-xs-down: 32px;
    --margin-xs: 48px;
    --margin-sm: 48px;
    --margin-md: 48px;
    --margin-lg-up: 48px;
    --gutter-xs-down-special: 64px;
    --gutter-xs-down: 16px;
    --gutter-xs: 24px;
    --gutter-sm: 32px;
    --gutter-md: 32px;
    --gutter-lg-up: 48px;
    --nav-mt-xs-down: 16px;
    --nav-mt-xs: 24px;
    --nav-mt-sm: 24px;
    --nav-mt-md: 24px;
    --nav-mt-lg-up: 24px;
    --hero-xs-down: 640px;
    --hero-xs: 560px;
    --hero-sm: 560px;
    --hero-md: 640px;
    --hero-lg-up: 640px;
    --pag-mb-xs-down: 16px;
    --pag-mb-xs: 24px;
    --pag-mb-sm: 24px;
    --pag-mb-md: 24px;
    --pag-mb-lg-up: 24px;
    --hero-alt-xs-down: 560px;
    --hero-alt-xs: 560px;
    --hero-alt-sm: 560px;
    --hero-alt-md: 560px;
    --hero-alt-lg-up: 560px;
    --sans-serif: "futura-pt", sans-serif;
    --serif: "ltc-bodoni-175", serif;
    --logo-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --f-base: 16px;
    --f0: 4rem;
    --f1: 3rem;
    --f2: 2.25rem;
    --f3: 1.5rem;
    --f4: 1.25rem;
    --f5: 1rem;
    --f6: .875rem;
    --lh-copy: 1.6;
    --lh-solid: 1;
    --button-py: 1.25rem;
    --button-px: 2.5rem;
    --black: #000;
    --gray-bg: #F2F1F1;
    --gray-text: #F2F1F1;
    --white: #fff;
    --blue: #2d83c2;
    --red: #C22D2D;
    --light-blue: #2F8BCC;
    --darker-gray: #E6E6E6;
}

@custom-media --xs-down (max-width: 32rem);
@custom-media --sm-down (max-width: 40rem);
@custom-media --md-down (max-width: 52rem);
@custom-media --lg-down (max-width: 64rem);

@custom-media --xs (min-width: 32rem) and (max-width: 40rem);
@custom-media --sm (min-width: 40rem) and (max-width: 52rem);
@custom-media --md (min-width: 52rem) and (max-width: 64rem);

@custom-media --xs-up (min-width: 32rem);
@custom-media --sm-up (min-width: 40rem);
@custom-media --md-up (min-width: 52rem);
@custom-media --lg-up (min-width: 64rem);
