.display-none { display: none !important; }

.hide {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

@media (--xs-down) {
    .hide-xs-down { display: none !important; }
}

@media (--xs) {
    .hide-xs { display: none !important; }
}

@media (--sm) {
    .hide-sm { display: none !important; }
}

@media (--md) {
    .hide-md { display: none !important; }
}

@media (--lg-up) {
    .hide-lg-up { display: none !important; }
}
