div.wpcf7-response-output {
    margin: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    padding-top: 3rem;
    text-align: center;
}

div.wpcf7-validation-errors {
    border: 0;
}

span.wpcf7-not-valid-tip, div.wpcf7-validation-errors, div.wpcf7-spam-blocked {
    color: var(--red);
}

span.wpcf7-not-valid-tip {
    font-size: inherit;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

div.wpcf7-mail-sent-ok {
    border: 0;
}

span.wpcf7-not-valid-tip, #addFileInputWrapper { text-align: left; }

div.wpcf7-spam-blocked {
    border: none;
}

span.wpcf7-not-valid-tip {
    text-align: center;
}

div.wpcf7 .ajax-loader { display: none; }
